.box {
  display: block;
  width: 100px;
  height: 100px;
  background: #f00;
  /* position: absolute;
  margin-left: -50px;
  margin-top: -50px;
  transform: translate(50vw, 50vh); */
}

body {
  /* De browser zet standaard wat margin op de body, die willen we weghalen */
  margin: 0;
}