.box {
  width: 300px;
  height: 100px;
  background: #f00;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  transition: transform 0.2s;
}

body {
  /* De browser zet standaard wat margin op de body, die willen we weghalen */
  margin: 0;
}