/*
 * We gaan het hebben over:
 * - display (inline, block)
 * - width
 * - height
 * - margin
 * - padding
 *
 * Maar eerst: de CSS class
 */
div {
  display: block;
}

div:nth-child(1) {
  background: #f00;
  width: 100px;
  height: 100px;
}

div:nth-child(2) {
  background: #0f0;
  width: 200px;
  height: 200px;
}

div:nth-child(3) {
  background: #00f;
  width: 300px;
  height: 300px;
}